
/**
 * @file
 * The default user stylesheet. Required.
 *
 * @ingroup mysite_plugins 
 */

/**
 * Standard style options for MySite
 */

span.mysite-header {
  background: url(../icons/backing.png);
  padding: 4px;
  background-color: #ccf;
  border: 1px solid #99c;
  font: bold 1.1em verdana, arial, sans-serif;
  margin: 0;
  display: block;
}

div.mysite-content {
  padding: 12px 8px 12px 8px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

div.mysite-footer {
  clear: both;
  background: url(../icons/backing.png);
  border: 1px solid #ccc;
  height: 25px;
}

div.mysite-footer-left {
  float: left;
  padding: 2px 4px 0px 4px;
}

div.mysite-footer-left a {
  text-decoration: underline;
  font-size: 0.9em;
}

div.mysite-footer-right {
  text-align: right;
  padding: 4px 4px 0px 4px;
}

/**
 * Interface helpers
 */

div.mysite-helper {
  background-color: #fff;
  padding: 10px 0 10px 0;
  border: 2px dashed #00c;
}

div.mysite-active {
  background-color: #fed;
}

div.mysite-hover {
  background-color: #dfd;
}

/**
 * Default color
 */
 
span.mysite-header, span.mysite-header a {
  color: #369;
  text-decoration: none;
}

/**
 *  Define the style selector on the edit page
 */

#mysite-default-edit {
  text-align: left;
  width: 200px;
  background-color: #fff;
  margin: 0 0 30px 24px;
  font-family: arial, sans-serif;
  border: 1px solid #99c;
}

#mysite-default-edit span {
  background: url(../icons/menu-expanded.png) 0px 60% no-repeat;
  padding: 0 10px 0 0;
}

#mysite-default-edit h2 {
  background-image: url(../icons/backing.png);
  color: #369;
  padding: 4px;
  background-color: #ccf;
  border-bottom: 1px solid #99c;
  font: bold 1.1em verdana, arial, sans-serif;
  margin: 0;
  display: block;
}

#mysite-default-edit a {
  font: 15px arial;
  text-decoration: underline;
}

#mysite-default-edit p {
  padding: 0 8px 0 8px;
  color: #000;
}

#mysite-default-edit div {
  background-image: url(../icons/backing.png);
  background-color: #ccc;
  border-top: 1px solid #99c;
  padding: 4px;
  color: #900;
  font-size: 0.9em;
  text-decoration: underline;
}
