
/**
 * @file
 * An optional red-tinged style.
 *
 * @ingroup mysite_plugins
 */

/**
 * Standard style options for MySite
 */

span.mysite-header {
  background: url(../icons/backing.png);
  padding: 4px;
  background-color: #c00;
  border: 1px solid #c66;
  font: bold 1.1em verdana, arial, sans-serif;
  margin: 0;
  display: block;
}

div.mysite-content {
  padding: 12px 8px 12px 8px;
  border-left: 1px solid #c66;
  border-right: 1px solid #c66;
}

div.mysite-footer {
  clear: both;
  background: url(../icons/backing.png);
  border: 1px solid #c66;
  height: 25px;
}

div.mysite-footer-left {
  float: left;
  padding: 2px 4px 0px 4px;
}

div.mysite-footer-left a {
  text-decoration: underline;
  font-size: 0.9em;
}

div.mysite-footer-right {
  text-align: right;
  padding: 4px 4px 0px 4px;
}

/**
 * Interface helpers
 */

div.mysite-helper {
  background-color: #fff;
  padding: 10px 0 10px 0;
  border: 2px dashed #c00;
}

div.mysite-active {
  background-color: #fed;
}

div.mysite-hover {
  background-color: #dfd;
}

/**
 * fire customizations
 */

span.mysite-header, span.mysite-header a {
  color: #900;
  text-decoration: underline;
}

div.mysite-content h2 {
  color: #900;
  font-size: 16px;
  margin: 0 0 4px 0;
}

div.mysite-content h3 {
  width: 300px;
  padding-left: 4px;
  color: #900;
  font-size: 14px;
  border-bottom: 1px solid #900;
  border-left: 3px solid #900;
}

div.mysite-content a, div.mysite-footer a {
  color: #900;
}

div.mysite-content img {
  float: left;
  margin: 0 10px 16px 0;
}

/**
 *  Define the style selector on the edit page
 */

#mysite-fire-edit {
  text-align: left;
  width: 200px;
  background-color: #fff;
  margin: 0 0 30px 24px;
  font-family: arial, sans-serif;
  border: 1px solid #c66;
}

#mysite-fire-edit span {
  background: url(../icons/menu-expanded.png) 0px 60% no-repeat;
  padding: 0 10px 0 0;
}

#mysite-fire-edit h2 {
  background-image: url(../icons/backing.png);
  color: #900;
  padding: 4px;
  background-color: #c00;
  border-bottom: 1px solid #000;
  font: bold 1.1em verdana, arial, sans-serif;
  margin: 0;
  display: block;
}

#mysite-fire-edit a {
  font: 15px arial;
  text-decoration: underline;
  color: #900;
}

#mysite-fire-edit p {
  padding: 0 8px 0 8px;
  color: #000;
}

#mysite-fire-edit div {
  background-image: url(../icons/backing.png);
  background-color: #ccc;
  border-top: 1px solid #c66;
  padding: 4px;
  color: #900;
  font-size: 0.9em;
  text-decoration: underline;
}
